body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

/* - коли на bodi клас show-modal від js (при відкритому модальному вікні) */
body.show-modal {
  overflow: hidden;
}
