/* Домінатний колір основного тексту #757575 */
/* Вторинний колір заголовків #212121 */

/* Основний фон білий #ffffff */

/* Акцент #2196f3 */

/* Транзішин: час - 250ms; розподіл часу - cubic-bezier(0.4, 0, 0.2, 1) */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --tra: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
