.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-top-wrap {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    gap: 165px;
    justify-content: center;
    align-items: baseline;
  }
  @include desktop {
    display: flex;
    gap: 70px;
    align-items: baseline;
  }
}

.footer__logo-address-wrap {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.footer__container {
  @include desktop {
    display: flex;
    align-items: baseline;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.address__item {
  display: block;

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link-address {
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  text-decoration: none;

  transition: color var(--tra);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  text-decoration: none;

  transition: color var(--tra);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__social {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.social__title,
.form-wrap_title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.social__list {
  display: flex;
  gap: 10px;
  @media screen and (max-width: 1199px) {
    justify-content: center;
  }
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);

  border-radius: 50%;

  transition: background-color var(--tra);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social__icon {
  fill: currentColor;
}

/* -----footer-form----- */
.footer__form-wrap {
  @include desktop {
    margin-left: auto;
  }
}

.footer-form {
  display: flex;
  gap: 12px;
  @media screen and (max-width: 1199px) {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
}

.footer-form__field {
  position: relative;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;

  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: transparent;
  outline: transparent;

  transition: border-color var(--tra);

  &:not(:focus):not(:placeholder-shown):invalid {
    border: 1px solid rgba(235, 16, 16, 0.781);
  }

  &:focus {
    border-color: var(--accent-color);
  }

  @media screen and (max-width: 479px) {
    width: 200px;
  }
  // @media screen and (max-width: 1199px) {
  //   width: 100%;
  //   max-width: 450px;
  // }
}

.footer-form__label {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: transform var(--tra), color var(--tra);

  .footer-form__input:focus + &,
  .footer-form__input:not(:placeholder-shown) + & {
    transform: translateY(-44px);
    color: var(--accent-color);
  }

  .footer-form__input:not(:focus) + & {
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-form__btn-primary {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 200px;
}

.footer-btn-icon {
  fill: var(--primary-white-color);
}
