.filters-list {
  margin-bottom: 50px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.grid-portfolio {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.grid-portfolio__item {
  /* width: calc((100% - 60px) / 3); - можна не використовувати при gap */
}

.project__link {
  display: block;

  text-decoration: none;

  transition: box-shadow var(--tra);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.thumb {
  position: relative;

  overflow: hidden;
}

.thumb__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);

  overflow: auto;

  transform: translateY(100%);
  transition: transform var(--tra);

  .project__link:hover &,
  .project__link:focus & {
    transform: translateY(0);
  }
}

.project__card {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
  border-top: none;
}

.project__card-title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__card-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
