.team {
  background: #f5f4fa;
}

.title-section--team {
  margin-bottom: 30px;

  @include desktop {
    margin-bottom: 50px;
  }
}

.grid-team {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.grid-team__item {
  width: 100%;
  background: var(--primary-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}

.person__card {
  padding-top: 30px;
  padding-bottom: 24px;

  @include desktop {
    padding-bottom: 30px;
  }
}

.person__card-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.person__card-text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.soc-person {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc-person__item {
  width: 44px;
  height: 44px;
}

.soc-person__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: #afb1b8;
  background-color: var(--primary-white-color);

  border-radius: 50%;

  transition: color var(--tra), background-color var(--tra);

  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
  }
}

.soc-person__icon {
  fill: currentColor;
}

/* .soc-person__link:hover .soc-person__icon,
.soc-person__link:focus .soc-person__icon {
  fill: var(--primary-white-color);
} */
